
body{
    background-image: url(churras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;    
    
}



h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 10px;
}

p{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0.5);
}

.container{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
        
    
}

button{
    background-color: rgba(0,0,0,0.8);
    font-weight: bold;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border-color: red;
    color: red;
    
    
}

input{
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    color: red;
    border-color: white;
    font-weight: bold;
}

#resultado{
    font-weight: bold;
    background-color: rgba(10,0,0,0.5);
    border-radius: 10px;
    
}

@media only screen and (max-width: 900px) {
    body{
        background-image: url(churras mobile.jpg);
        background-position: calc(5% - 100px) center;
        background-repeat: no-repeat;
        height: 100vh;
        margin:0;
        display: block;

        
    }

    h1{
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-top: 30%;
        margin-bottom: 30px;
        background-color: rgba(0,0,0,0.5);
    }

    .container{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 200px;        
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        align-items: center;

        
    }

    button{
        background-color: rgba(0,0,0,0.8);
        font-weight: bold;
        width: 8rem;
        padding: 1rem;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
        color: red;
        border-color: red;
        font-weight: bold;
    }
    
    input{
        text-align: center;
        width: 100%;
        display: block;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        font-weight: bold;
    }
    
}
    
        

  
